[Unit]
Description=Touch Screen UI
After=graphical.target

[Service]
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/usr/bin/python3 /home/pi/touch_ui/main.py
WorkingDirectory=/home/pi/touch_ui
Restart=always

[Install]
WantedBy=graphical.target
